.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box; /* Include border in the element's total size */
  font-family: Arial, sans-serif;
}

.chatHeader {
  display: flex;
  align-items: center;
  background: #075e54;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.chatHeader span {
  flex-grow: 1;
  text-align: center;
  margin-right: 40px; /* to balance the back button */
}

.backButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  display: none; /* Hidden by default */
  place-items: center;
  font-size: 1.2rem;
}

.chatMessages {
  flex: 1;
  background: #ece5dd;
  padding: 10px;
  overflow-y: auto;
}

.chatBubble {
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.chatBubble.me {
  background: #dcf8c6;
  margin-left: auto;
}

.chatBubble.them {
  background: white;
  margin-right: auto;
}

.chatInput {
  display: flex;
  border-top: 1px solid #ddd;
}

.chatInput input {
  font-size: large;
  flex: 1;
  padding: 20px 10px;
  border: none;
  outline: none;
}

.chatInput button {
  font-size: medium;
  background: #128c7e;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chatContainer {
    border-radius: 0;
    border: none;
  }
  .backButton {
    display: grid; /* Show on mobile */
  }
}
